.chumma {
    position: absolute;
    top: 0%;
    left: 0%;
}

.log {
    margin-left: 23cm;
    margin-top: 4cm;
    color: rgb(212, 148, 10);
}
.user {
    margin-left: 750px;
    left: 50%;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user1 {
    margin-left: 8px;
}

.pp {
    margin-left: 750px;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    margin-left: 870px;
    background-color: rgb(236, 195, 80);
    border: none;
    color: black;
    font-size: 20px;
    height: 1cm;
    width: 2cm;
}